app:
  log_level: "warn" # Change this value
  debug: true
  secret_key: "your-secret-key-here"
  service_name: "BoilerGo"
server:
  port: "8080"
  name: "GOBOILER"
database:
  dbusername: "rangga"
  dbpassword: "password"
  dbhost: "127.0.0.1"
  dbport: "3306"
  dbname: "example"
